@import '../../../Varial.scss';

.content_option{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    // margin-bottom: 5rem;

    .contentDiv{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:3rem;
        flex-wrap: wrap;
        margin-top: 3rem;


        .item{
            padding: 1.5rem 4rem;
            background:  #F4ECEA;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 9px;
            // width: 180px;

            h3{
                font-size: 18px;
                font-family: $generalFon;
            }
        }
    }
}