.btn{
    padding: 10px 20px ;
    width: max-content ;
    display: flex ;
    flex-direction: row ;
    align-items: center ;
    font-size: 18px ;
    justify-content: space-between ;
    gap: .5rem ;
    a{
        color: black ;
    }

    img{
        width: 20px;
        height: 15px;
    }
}