@import '../../Varial.scss';

.bonus_sect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    .bonusHeader{
        font-family: jua;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .bonus_h3{
            h3{
                font-size: 20px;
                width: 100%;
            }
        }

        .bonus_h1{
            background: $semidark_bg;
            width: fit-content;
            padding: 0px 80px;

            h1{
                color: white;
                font-size: 30px;
            }
        }
    }
}