.hero_footer{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    text-align: center;
    align-items: center;
    // justify-content: center;

    hr{
        margin-bottom: -1rem;
        width: 100%;
    }

    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        align-content: center;
        gap: 7rem;

        li{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap:.5rem;
            font-size: 12px;
            font-family: regtext;
        }
        
    }


}