@font-face {
    font-family: popreg;
    src: url('./assets/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: popthick;
    src: url('./assets/fonts/Poppins-ExtraBold.ttf');
}
@font-face {
    font-family: jua;
    src: url('./assets/fonts/Jua-Regular.ttf');
}
@font-face {
    font-family: regtext;
    src: url('./assets/fonts/AktivGrotesk-Regular.ttf');
}
@font-face {
    font-family: boldtext;
    src: url('./assets/fonts/AktivGrotesk-XBold.ttf');
}

@font-face {
    font-family: medtext;
    src: url('./assets/fonts/AktivGrotesk-Medium.ttf');
}


body{
    color: black;
    margin: 0;
}




.header{
    font-family: popreg;
    font-size: 64px;
    line-height: 65px;
    font-weight: 500;
}


.norm{
    font-family: regtext;
    font-size: 20px;
}

.smalheader{
    font-family: popreg;
    color: white;
}

.small_text{
    font-size: 10px;
    font-family: regtext;
}

.text{
    font-family: regtext;
}


a{
    text-decoration: none;
}

.app{
    text-align: center;
}

.container{
    padding-top: 1em ;
    margin: 0 5rem ;
}