$socialBg:#ECE3E2;
$generalFon: regtext;
$genfontsiz: 15px;
$fadedBlack:#454444;;
$linksIze:16px;
$linkheight: 24px;
$linkweight:400;
$headerweight:500;
$buttonpadding:8px 24px;
$buttonsize:16px;
$dark_bluebbg : #0b333e;
$semidark_bg:#0b333edf;
$semiSocial:18px;
$bgSocial: #F4ECEA;